body {
    height: 150vh;
    background-image: url('/img/background_img.jpg');
    background-attachment: fixed; 
}

.para {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-small;
    fill-opacity: 0.5;
    color: purple;
}

.all {
    text-align: center;

    table,td,th {
        border:1px solid black;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
        white-space:nowrap;

    }
}

.bottom-left {
    text-align:left;
    position:fixed;
    bottom:0;
    left:1%;
    color:white;
    a {
        color:white;
    }
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead,tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    }
    th,td {
    padding: 12px 15px;
    }
    tbody{
        tr{
            border-bottom: 1px solid #dddddd;
        }
        tr:nth-of-type(even){
            background-color: #f3f3f3;

        }
        tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    }
}