<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="all">
    <h1 style="color: black">Hello World! Reverted</h1>
    <p style="font-family: 'Times New Roman', Times, serif;
    font-size: small;
    fill-opacity: 0.5;
    color: black;":>This page is meant to show the home page.</p>

    <p class="para">This is mean to show small letters</p>
    <a href="/login">Login</a>

    <div class="bottom-left">
        <a href="/about">About</a>
        <br>
        <a href="/contact">Contact</a>
    </div>
    
</body>
</html>